@mixin btn-style($color, $background, $border) {

  // $active-background: darken($background, 10%);
  // $active-border: darken($border, 12%);

  color:              $color;
  background-color:   $background;
  border-color:       $border;

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    color:            darken($color,20);
    background-color: if($background != transparent, darken($background,20), rgba(black,.2));
    border-color:     if($border != transparent, darken($border,20), rgba(black,.2));
  }

  &.disabled,
  &:disabled {
    color:             $color;
    // background-color: if($background != transparent, rgba($background,.45), rgba(black,.2));
    // background-color:  rgba($background,.45);
    // border-color:      rgba($background,.45);
  }
}

@mixin btn-size($font-size, $line-height, $padding-x) {
  padding:             0 $padding-x;
  font-size:           $font-size;
  line-height:         $line-height;
  height:             $line-height;
}