.block {
  display: block;
}

.inline {
  display: inline;
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.inline-block-sm {
	@include breakpoint(sm) {
		display: inline-block;
		vertical-align: middle;
	}	
}

.inline-block-md {
	@include breakpoint(md) {
		display: inline-block;
		vertical-align: middle;
	}	
}

.align-middle {
	vertical-align: middle;
}