.opacity-40 {
  opacity: .4!important;
}

.opacity-50 {
  opacity: .5!important;
}

.opacity-60 {
  opacity: .6!important;
}

.opacity-70 {
  opacity: .7!important;
}

.opacity-80 {
  opacity: .8!important;
}

.opacity-90 {
  opacity: .9!important;
}

.opacity-100 {
  opacity: 1!important;
}