/* Space
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.m0         { margin:           0!important;                      }
.mt0        { margin-top:       0!important;                      }
.mb0        { margin-bottom:    0!important;                      }
.p0         { padding:          0!important;                      }
.pt0        { padding-top:      0!important;                      }
.pb0        { padding-bottom:   0!important;                      }

@each $key, $value in $space {
  .p#{$key}   { padding:        map-get($space, $key)!important;  }
  .pt#{$key}  { padding-top:    map-get($space, $key)!important;  }
  .pr#{$key}  { padding-right:  map-get($space, $key)!important;  }
  .pb#{$key}  { padding-bottom: map-get($space, $key)!important;  }
  .pl#{$key}  { padding-left:   map-get($space, $key)!important;  }
  .pw#{$key}  { padding-left:   map-get($space, $key)!important; padding-right:  map-get($space, $key)!important;  }
  .ph#{$key}  { padding-top:    map-get($space, $key)!important; padding-bottom: map-get($space, $key)!important;  }

  .m#{$key}   { margin:        map-get($space, $key)!important;  }
  .mt#{$key}  { margin-top:    map-get($space, $key)!important;  }
  .mr#{$key}  { margin-right:  map-get($space, $key)!important;  }
  .mb#{$key}  { margin-bottom: map-get($space, $key)!important;  }
  .ml#{$key}  { margin-left:   map-get($space, $key)!important;  }
  .mw#{$key}  { margin-left:   map-get($space, $key)!important; margin-right:  map-get($space, $key)!important;  }
  .mh#{$key}  { margin-top:    map-get($space, $key)!important; margin-bottom: map-get($space, $key)!important;  }
}

// Get a value from the space map
@function space($variant-name){
  @return map-get($space, $variant-name);
}