/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// @include font-face( "Font Name", "../fonts/font-file-name", normal);
// @import url(https://fonts.googleapis.com/css?family=Font+Name:variant,variant);

@font-face {
  font-family: 'GT America Regular';
  src: url('../fonts/GTAmerica-Regular.eot');
  src: url('../fonts/GTAmerica-Regular.woff2') format('woff2'),
       url('../fonts/GTAmerica-Regular.woff') format('woff'),
       url('../fonts/GTAmerica-Regular.ttf') format('truetype'),
       url('../fonts/GTAmerica-Regular.svg#GTAmerica-Regular') format('svg'),
       url('../fonts/GTAmerica-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Bold';
  src: url('../fonts/GTAmerica-Bold.eot');
  src: url('../fonts/GTAmerica-Bold.woff2') format('woff2'),
       url('../fonts/GTAmerica-Bold.woff') format('woff'),
       url('../fonts/GTAmerica-Bold.ttf') format('truetype'),
       url('../fonts/GTAmerica-Bold.svg#GTAmerica-Bold') format('svg'),
       url('../fonts/GTAmerica-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

// font-families
$ff-book:  "GT America Book", Arial, sans;
$ff-bold:  "GT America Bold", Arial, sans;

// font-sizing
$fs-xl: rem(54);
$fs-lg:  rem(32);
$fs-md:  rem(22);
$fs-sm:  rem(18);
$fs-xs: rem(15);
$fs-xxs: rem(11);

// line-heights
$lh-md:  1.65;
$lh-sm:  1.3;
$lh-xs: 1;


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$space-unit: rem(5);

$space: (
  1:                $space-unit * 1,
  2:                $space-unit * 2,
  3:                $space-unit * 4,
  4:                $space-unit * 6,
  5:                $space-unit * 8,
  6:                $space-unit * 10,
  7:                $space-unit * 20
);


/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$colors: (
  gray: (
    dark:           #1c1d1e,
    medium:         #424648,
    light:          #E1E1E1,
    x-light:        #F7F8FA
  ),
  green: (
    dark:           darken(#1FCE6D,10),
    medium:         #1FCE6D
  )
);

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$grid-columns:      12;
$grid-gutter:       rem(30);
$grid-max:          rem(1000);

$grid: (
  xs: (
    breakpoint:     0px,
    container:      95%
    ),
  sm: (
    breakpoint:     rem(480),
    container:      95%
    ),
  md: (
    breakpoint:     rem(768),
    container:      95%
    ),
  lg: (
    breakpoint:     rem(990),
    container:      95%
    )
);


/* Basic styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bg-green { background-color: color(green,medium) }
.bg-light { background-color: color(gray,x-light) }
.bg-dark {  background-color: color(gray,dark)    }


/* Radius
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$radius-small:      3px;
$radius-base:       5px;
$radius-medium:     12px;
$radius-large:      36px;


/* Borders
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$border-base: 1px solid color(gray,light);


/* Box shadows
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$box-shadow-base: 0 23px 42px rgba(black,.15);


/* Clearfix
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix {
  overflow: auto;
  zoom: 1;
}
