/* Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {

  cursor:                      default;
  position:                    relative;
  height:                      100%;
  overflow-y:                  auto;
  overflow-x:                  hidden!important;

  -webkit-overflow-scrolling:  touch;
  -webkit-font-smoothing:      antialiased;

  font-family:                 $ff-book;
  font-size:                   $fs-sm;
  line-height:                 $lh-md;
  color:                       color(gray,medium);

}


.illustration-container {
  position: relative;
}

.illustration-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  // top: rem(-140);
  top: -50%;
  img { width: rem(300); margin: 0 auto; display: block; max-width: 100%; }
  @include breakpoint(sm) {
    top: -80%;
    img { width: rem(450); }
  }
  @include breakpoint(md) {
    top: -90%;
    img { width: rem(500); }
  }
  @include breakpoint(md) {
    top: -100%;
  }
}
