/* Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {

  cursor:                      default;
  position:                    relative;
  height:                      100%;
  overflow:                    auto;

  -webkit-overflow-scrolling:  touch;
  -webkit-font-smoothing:      antialiased;

  font-family:                 $ff-book;
  font-size:                   $fs-sm;
  line-height:                 $lh-md;
  color:                       color(gray,medium);

}

.hero {
	
}

.definition {
	background-color: color(green,dark);
	padding: rem(80) 0;
}

.illustration-container {
  position: relative;
}

.illustration-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  // top: rem(-140);
  top: -50%;
  img { width: rem(300); margin: 0 auto; display: block; max-width: 100%; }
  @include breakpoint(sm) {
    top: -80%;
    img { width: rem(450); }
  }
  @include breakpoint(md) {
    top: -90%;
    img { width: rem(500); }
  }
  @include breakpoint(md) {
    top: -100%;
  }
}

.hero {
    padding-top: space(4);
    padding-bottom: space(4);
  @include breakpoint(sm){
    padding-top: space(6);
    padding-bottom: space(7);
  }
  @include breakpoint(md){
    padding-top: space(6);
    padding-bottom: space(7);
  }
}


