/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin btn(){
  cursor:            pointer;
  box-sizing:        border-box; 
  display:           inline-block;
  text-align:        center;
  text-decoration:   none;
  white-space:       nowrap;
  vertical-align:    middle;
  border:            1px solid transparent;
  user-select:       none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  
  //Base-style
  font-family:       $ff-book;
  font-size: 		     $fs-sm;
  line-height:       $lh-md;
  font-weight:       normal;
  border-radius:     rem(5);
  padding: 			     space(1) space(4);
  border: 			     2px solid transparent;
  transition:        color ease .2s, background-color ease .2s, border-color ease .2s;
  
  &:hover,
  &:focus,
  &:active,
  &.active {
    text-decoration: none;
    outline:         0;
  }

  &:disabled,
  &.disabled {
    cursor:          none;
    opacity:         .65;
    box-shadow:      0;
  }

}

.btn, button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	@include btn();
}

.btn-outline-white {
	@include btn();
  color: white;
  border-color: white;
  &:hover {
    background-color: white;
    color: color(green,medium);
  }
}

.btn-outline-green {
  @include btn();
  color: color(green,medium);
  border-color: color(green,medium);
  &:hover {
    background-color: color(green,medium);
    color: white;
  }
}

.btn-primary-white {
  @include btn();
  border: 2px solid white;
  color: color(green,dark);
  border-color: white;
  background-color: white;
  &:hover {
    color: color(green,medium);
  }
}

.btn-primary-green {
  @include btn();
  border: 2px solid color(green,medium);
  color: white;
  background-color: color(green,medium);
  &:hover {
    background-color: color(green,dark);
    border-color: color(green,dark);
  }
}

.btn-team a {
  display: block;
  @include breakpoint(sm) {
    display: inline-block;
  }
}

