/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
  display:        block;
  max-width:      100%;
  height:         auto;
}

.img-wrapper {
	text-align:   center;
}

.img-inline {
  display:        inline;
}

.img-circle {
  border-radius:  50%;
}

.image-team {
	display: flex;
	text-align: center;
	margin-bottom: space(5);
}

.image-team-1 {
	left: rem(24);
	margin-top: rem(10);
	z-index: 2;
}
.image-team-2 {
	z-index: 3;
}
.image-team-3 {
	right: rem(24);
	margin-top: rem(10);
	z-index: 2;
}
.image-team-4 {
	left: rem(48);
	margin-top: rem(10);
}
.image-team-5 {
	right: rem(48);
	margin-top: rem(10);
}
