/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.link {
	// font-family: $ff-bold;
	color: color(green, medium);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.text-link {
	position: relative;
	display: inline-block;
	font-family: $ff-bold;
	font-size: $fs-xs;
	text-transform: uppercase;
	text-decoration: none;
	word-spacing: 3px;
	color: inherit;
	transition: color ease .2s;
	&:after {
		position: relative;
		display: inline-block;
		content: '';
		width: 10px;
		height: 10px;
		margin-left: 8px;
		background: url(../images/carret-right.svg) no-repeat;
		filter: brightness(0.25) sepia(1) hue-rotate(47deg) saturate(0);
		transition: filter ease .2s, margin ease .2s;
		
	}
	&:hover {
		color: color(green,medium);
		&:after{
			margin-left: 16px;
			filter: brightness(0.52) sepia(1) hue-rotate(47deg) saturate(5);
		}
	}
}

.text-link-green {
	@extend .text-link;
	color: color(green,medium);
	&:after {
		filter: brightness(0.52) sepia(1) hue-rotate(47deg) saturate(5);
	}
}