/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.list-ordered {
  list-style: decimal;
}

.list-unordered {  
  list-style: square;
}

.list-horizontal > li {
  display: inline-block;
  vertical-align: middle;
}