/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


h1, .h1 {
  font-family:      $ff-bold;
  // font-size:        $fs-lg;
  font-size:        rem(38);
  line-height:      $lh-xs;
  color:            color(gray,dark);
  @include breakpoint(sm){
    font-size:        rem(42);
    line-height:      $lh-sm;
  }
  @include breakpoint(md){
      font-size:      $fs-xl;
      line-height:      $lh-xs;
  }
}

h2, .h2 {
  font-family:      $ff-bold;
  font-size:        $fs-lg;
  line-height:      $lh-sm;
  color:            color(gray,dark);
  @include breakpoint(sm){  }
}

h3, .h3 {
  font-family:      $ff-bold;
  font-size:        $fs-md;
  line-height:      $lh-sm;
  color:            color(gray,dark);
}

h4, .h4 {

}

p, .p {
  font-size:        $fs-sm;
}

.p-small {
  font-size:        $fs-xs;
}

.p-xsmall {
  font-size:        $fs-xxs;
}

.p-large {
  font-size:        $fs-md;
}

.bold { 
  font-family:      $ff-bold;
  color:            color(gray,dark);
}


.white { color: white; }

.meta-80 { opacity: 0.80; }
.meta-65 { opacity: 0.65; }
.meta-50 { opacity: 0.5;  }
.meta-30 { opacity: 0.3;  }

// .title-large {
//   font-family:      $ff-bold;
//   font-weight:      normal;
//   font-size:        rem(26);
//   line-height:      rem(35);  
//   color:            color(gray,dark);
//   @media only screen and (min-width: rem(768)) {
//     font-size:      $font-large;
//     line-height:    rem(56);
//   }
// }

// .title-medium {
//   font-family:      $ff-bold;
//   font-weight:      normal;
//   font-size:        $font-medium;
//   color:            color(gray,dark);
// }

// .title-medium-white {
//   @extend .title-medium;
//   color:            white;
// }

// .title-small {
//   font-family:      $ff-base;
//   font-weight:      normal;
//   font-size:        $font-tiny;
//   line-height:      rem(14);
//   text-transform:   uppercase;
//   letter-spacing:   rem(1);
// }

// .meta-6  {
//   opacity: .5;
// }


// /* Copy  ——————––––––––––––––––––––––––––––––––––– */

// .copy-large {}

// .copy-about {
//   &:first-child {
//     @extend .title-medium;
//   }
// }

// .copy-medium {
//   font-family:      $ff-base;
//   font-weight:      normal;
//   font-size:        $font-medium;
//   line-height:      rem(28);
// }

// .copy-base {  
//   font-family:      $ff-base;
//   font-weight:      normal;
//   font-size:        $font-base;
//   line-height:      rem(28);
// }

// .copy-small {  
//   font-family:      $ff-base;
//   font-weight:      normal;
//   font-size:        $font-small;
//   line-height:      rem(21);
// }

// .tagline {
//   font-family:      $ff-base;
//   font-weight:      normal;
//   font-size:        $font-small;
//   line-height:      rem(21);
//   opacity:          0.7;
//   display:          block;
// }

// hr {
//   border:           0;
//   border-bottom:    $border-base;
// }

// .blockquote {
//   @extend .title-large;
//   p {
//     position: relative;
//     &:before {
//       display: none;
//       @media only screen and (min-width: rem(480)) {
//         display: block;
//       }
//       position: absolute;
//       content: '"';
//       top: 0;
//       left: - rem(45);
//       color: color(gray,base);
//       font-size: $font-huge;
//     }
//     &:after {
//       display: none;
//       @media only screen and (min-width: rem(480)) {
//         display: inline-block;
//       }
//       position: absolute;
//       content: '"';
//       color: color(gray,base);
//       font-size: $font-huge;
//       margin:  0 space(3);  
//     }
//   }
// }

// code {
//   font-family:  $ff-code;
// }

// pre > code {
// }
