/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


h1, .h1 {
  font-family:      $ff-bold;
  font-size:        rem(32);
  // line-height:      1.2;
  line-height:      $lh-xs;
  color:            inherit;
  @include breakpoint(sm){
    font-size:        rem(38);
    line-height:      $lh-xs;
  }
  @include breakpoint(md){
      font-size:      $fs-xl;
      line-height:      $lh-xs;
  }
}

h2, .h2 {
  font-family:      $ff-bold;
  font-size:        $fs-lg;
  line-height:      $lh-sm;
  @include breakpoint(sm){  }
}

.color-dark {
  color:  color(gray,dark);
}

h3, .h3 {
  font-family:      $ff-bold;
  font-size:        $fs-md;
  line-height:      $lh-sm;
  // color:            color(gray,dark);
}

h4, .h4 {

}

p, .p {
  font-size:        $fs-sm;
}

.p-small {
  font-size:        $fs-xs;
}

.p-xsmall {
  font-size:        $fs-xxs;
}

.p-large {
  font-size:        rem(22);
  margin-bottom:    $fs-md;
  &:last-child {    margin-bottom: 0;}
}

.bold { 
  font-family:      $ff-bold;
  color:            color(gray,dark);
}

.svg-underline {
  position: relative;
  svg{
    position: absolute;
    left:0;
    bottom:-5px;
    width: 100%;
  }
}


.white { color: white; }

.meta-80 { opacity: 0.80; }
.meta-65 { opacity: 0.65; }
.meta-50 { opacity: 0.5;  }
.meta-30 { opacity: 0.3;  }