<div class="hero-img hero-bit-radiohead">
	<img srcset="../assets/images/projects/bandsintown/bit-radiohead.png 2x" 
		data-aos-delay="100" 
		data-aos-duration="800" 
		data-aos=""
		>
</div>

<div class="hero-img hero-bit-drake ">
	<img srcset="../assets/images/projects/bandsintown/bit-drake.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		>
</div>

<div class="hero-img hero-bit-ariana ">
	<img srcset="../assets/images/projects/bandsintown/bit-ariana.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		>
</div>

<div class="hero-img hero-bit-campaign ">
	<img srcset="../assets/images/projects/bandsintown/bit-campaign.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		>
</div>

<div class="hero-img hero-bit-audience ">
	<img srcset="../assets/images/projects/bandsintown/bit-audience.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		>
</div>