<div class="hero-img hero-frichti-parsley">
	<img srcset="../assets/images/projects/frichti/parsley.png 2x" 
		data-aos-delay="100" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>

<div class="hero-img hero-frichti-oignons ">
	<img srcset="../assets/images/projects/frichti/oignons.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>

<div class="hero-img hero-frichti-card-1 ">
	<img srcset="../assets/images/projects/frichti/frichti-card-1.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>

<div class="hero-img hero-frichti-avocado ">
	<img srcset="../assets/images/projects/frichti/avocado.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>

<div class="hero-img hero-frichti-card-2 ">
	<img srcset="../assets/images/projects/frichti/frichti-card-2.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>

<div class="hero-img hero-frichti-lime ">
	<img srcset="../assets/images/projects/frichti/lime.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>

<div class="hero-img hero-frichti-garlic">
	<img srcset="../assets/images/projects/frichti/garlic.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>

<div class="hero-img hero-frichti-mushrooms">
	<img srcset="../assets/images/projects/frichti/mushrooms.png 2x" 
		data-aos-duration="800" 
		data-aos=""
		loading="eager"
		>
</div>