
	<!-- <p class="p-large mb3 white text-center">We worked with them.</p> -->
	<div class="clients">
		<% data.collabs.each do |collab| %>
			<div class="client">
				<div class="client-logo">
					<%= image_tag 'clients/' + collab.pic %>
				</div>
				<div class="client-infos">
					<p class="client-name"><%= collab.name %></p>
					<p class="client-users"><%= collab.description %></p>
				</div>
			</div>
		<% end %>
	</div>