<!-- <span class="project-item-infos-tags">
	<# tbtags = project.tags.split(",") %>
	<# sentence = "" %>
	<# tbtags.each do |t| %>
		<# sentence.concat(data.global.tags[t], ", ") %>
	<# end %>
	<#= sentence.capitalize.chomp(", ") %>
</span> -->