<section class="section card-contact-us bg-green mb0">
		<div class="container">
		<div class="row center-sm start-md middle-md between-md">
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 last-md">
				<%= image_tag 'illustrations/happy-mozzas.svg', { :class=>'illu-happy-mozzas' } %>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-5">
				<h2 class="h1-sm mb4">Let's talk about your project</h2>
				<a class="btn-primary-white mb4" href="https://calendly.com/davidchriqui/call-de-presentation" target="_blank">Schedule a call</a>
			</div>
		</div>
	</div>
</section>