<header class="header">
  <div class="container ph3">
    <div class="row">
        <div class="col-xs-12 center-xs start-md"> 
          <div class="logo-wrapper">
            <%= link_to 'mozza', '/', { :class=>'logo' } %>
          </div>
          <ul class="nav-header">
            <li><%= link_to 'Chefs', '/chefs.html', { :class=>'nav-link' } %></li>
            <li><%= link_to 'Recipes', '/recipes.html', { :class=>'nav-link' } %></li>
            <li>
              <a class="nav-contact typeform-share " href="https://hello017925.typeform.com/to/YnE7b6" data-mode="drawer_right" target="_blank">Contact Us</a>
              <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </li>
            
        </ul>
        </div>
    </div>
</header>