.logo {
	display: inline-block;
	font-family: $ff-bold;
	font-size: rem(32);
	line-height: rem(32);
	color: white;
	text-decoration: none;
}

.logo-wrapper {
	@include breakpoint(md){
		display: inline-block;
	}
}