.client {
	position: relative;
	width: rem(86);
	height: rem(86);
	margin: 0 space(2);
	&:hover {
		cursor: default;
		.client-infos { opacity: 1; }
		.client-logo { transform: translate(10%,-75%) rotate(15deg); img {opacity: .7;} }
	}
}

.client-logo {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// background-color: black;
	// opacity: .7;
	transition: transform ease .2s;
	text-align: center;
	img {
		display: inline-block;
		@extend .align-middle;
		opacity: .35;
	}
}

.client-infos {
	opacity: 0;
	text-align: center;
	@extend .align-middle;
	transition: opacity ease .2s;
}

.client-name {
	@extend .p-small;
	color: white;
}

.client-users {
	font-size: $fs-xxs;
	color: white;
	opacity: .5;
}

.align-middle {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}