.cook {
	margin-bottom: space(6);
	position: relative;
	padding-right: space(3);
}

.cook-photo {
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: space(2);
	width: rem(100);
	@include breakpoint(sm) {
		position: absolute;
		margin: 0 auto;
	}
}

.cook-wrapper {
	@include breakpoint(sm) {
		margin-left: rem(130);
	}
}

.cook-name {
	@extend .h3;
	margin-bottom: space(1);
	padding-top: space(2);
}

.cook-experience {
	margin-bottom: space(2);
	line-height: $lh-sm;
}

.cook-desc {
	@extend .p-small;
	opacity: .5;
}

.cook-avatar {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	border: rem(5) solid white;
	overflow: hidden;
	width: rem(110);
}

.cook-avatar-sm {
	@extend .cook-avatar;
	width: rem(68);
}

.cook-avatar-md {
	@extend .cook-avatar;
	width: rem(85);
}

.cook-avatar-lg {
	@extend .cook-avatar;
	width: rem(150);
}
