.footer {
	color: white;	
}

.footer-newsletter {
	background-color: #1C1D1E;	
	padding: rem(90) 0 rem(20);
}

.footer-navigation {
	background-color: #1C1D1E;
	padding: rem(30) 0 rem(120);
}

.mozza-wrapper {
	width: 80px;
	margin: 0 auto;
	@include breakpoint(md){
		display: inline-block;
		vertical-align: middle;
	}
}

.infos-wrapper {
	text-align: center;
	@include breakpoint(md){
		text-align: left;
		display: inline-block;
		vertical-align: middle;
	}
}

.newsletter-wrapper {
	margin-top: space(4);
	input {
		// display: block;
		// width: 100%;
	}
	@include breakpoint(sm){
		display: flex;
		padding: 0 rem(40);
	}
	@include breakpoint(md){
		margin-top: 0;
		padding: 0;
	}
}

.copyrights {
	position: relative;
	top: 3px;
	// text-align: center;
	@include breakpoint(md){
		text-align: left;
		margin-top: rem(10);
	}
}