.illu-mozzas {
	position: relative;
	max-width: initial;
	width: 460px;
	height: auto;
	margin: 20px 0 0;
	@include breakpoint(sm) {
		width: 560px;
		height: auto;
		margin: 20px auto 0;
	}
	@include breakpoint(md) {
    	width: 800px;
		height: auto;
    	margin: rem(40) 0 0 rem(20);
	}
}
.eye {
	transform-origin: inherit;
	-webkit-transform-origin: inherit;
    -webkit-animation: blink 8s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-out;
}

.eye-1 {
	@extend .eye;
}

.eye-2 {
	@extend .eye;
    animation-delay: 2s;
}

.eye-3 {
	@extend .eye;
    animation-delay: 2.3s;
}

.eye-4 {
	@extend .eye;
    animation-delay: 5s;
}

@-webkit-keyframes blink {
    0% {
        transform: translateY(4px) scaleY(0);
    }
    2.5% {
        transform: translateY(0) scaleY(1);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

.illu-offers {
	width: 100%;
	max-width: rem(240);
	margin: 0 0 20px;
}

.illu-leaves {
	position: absolute;
	top: rem(-40);
	right: 0;
	width: rem(80);
	@include breakpoint(sm) {
		right: calc(50% - 45px);
	}
}

.illu-underline {
 	position: relative;
 	svg{
   		position: absolute;
   		left:0;
   		bottom:-5px;
   		width: 100%;
 	}
}

.illu-happy-mozzas {
	max-width: rem(260);
	@include breakpoint(md) {
		max-width: rem(320);
	}
	@include breakpoint(lg) {
		max-width: rem(380);
	}
	margin: 0 auto
}