body.lockdownresearch {
	color: #1c1d1e;
	h1 {
		font-size:  rem(40);
		@include breakpoint(md) {
			font-size: rem(54);
		}
	}
	h2{
		font-size: rem(36);
	}
	p {
		color: #424648;
	}
	.p-large {
  		font-size:        rem(19);
  		@include breakpoint(md) {
  			font-size:      rem(21);
  			line-height: 	rem(34);
  		}
	}
	.btn-primary-green {
		background-color: #8DCA2D;
		border-color: #8DCA2D;
		&:hover {
			background-color: darken(#8DCA2D,4);
			border-color: darken(#8DCA2D,4);
		}
		
	}
	.btn-primary-white {
		color: darken(#8DCA2D,4);
		&:hover {
			color: darken(#8DCA2D,12);
		}
	}
}

.uxr-article {
	display: block;
	color: inherit;
	text-decoration: none;
	border-radius: 5px;
	&:hover {
		.uxr-article-title { text-decoration: underline; }
	}
	img {
		border-radius: 4px;
		margin-bottom: rem(20);
	}
	.uxr-article-title {
		margin-bottom: rem(15);
	}
	.uxr-article-desc {
		opacity: 0.5;
		line-height: 1.2;
		span {
			display: inline-block;
			padding: 0 rem(10);
			border-left: 1px solid rgba(black,0.3);
			&:first-child {
				border-left: none;
			}
		}		
	}
}


.moon {
	z-index: 2;
	position: fixed;
	width: 100%;
	opacity: 0;
	background-color: #388898;
	transition: opacity .2s ease, top .2s ease, bottom .2s ease;
	bottom: -60px;
	left:0;
	@include breakpoint(md) {
		top:-60px;
		left:0;
		bottom: auto;
	}
	.moon-link {
		display: block;
		position: absolute;
		bottom: -5px;
		right: rem(10);
		img {
			display: inline-block;
			margin: 0;
			width: 100px;
			transition: transform .2s ease;
			&:hover {
				transform: scale(1.1);
			}
		}
		@include breakpoint(md) {
			top:rem(10);
			right: rem(20);
			bottom: auto;
		}
	}
	.moon-text {
		color: white;
		padding: 20px;
		font-size: rem(16);
		line-height: 1.4;
		span { font-family: $ff-bd; }
		@include breakpoint(md) {
			padding: rem(15) rem(20);
		}
	}
}

.active {
	opacity: 1;
	bottom: 0;
	@include breakpoint(md) {
		top: 0;
		bottom: auto;
	}
}

.uxr-brand {
	position: relative;
	display: inline-block;
	margin-bottom: rem(40);
	@include breakpoint(md) {
		margin-left: 50px;
	}
	@include breakpoint(lg) {
		// margin-left: 0;
	}
	.brand-name {
		display: block;
		font-family: $ff-bd;
		font-size: rem(22);
		// margin-left: rem(64);
	}
	.brand-tagline {
		display: block;
		font-family: $ff-bd;
		font-size: rem(13);
		text-transform: uppercase;
		word-spacing: 2px;
		opacity: .7;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.brand-logo {
		@include breakpoint(md) {
			position: absolute;
			width: 60px;
			height: 60px;
			left: -65px;
		}
	}
}

.underline {
	text-decoration: underline;
	font-family: $ff-bd;
}

.section-spacing {
	padding-top: 	rem(40);
	padding-bottom: rem(40);
	@include breakpoint(sm) {
		padding-top: 	rem(40);
		padding-bottom: rem(40);
	}
	@include breakpoint(md) {
		padding-top: 	rem(80);
		padding-bottom: rem(80);
	}
	@include breakpoint(lg) {
		padding-top: 	rem(80);
		padding-bottom: rem(80);
	}
}

.section-title {
	position: relative;
	text-align: center;
	padding-bottom: rem(40);
	@include breakpoint(sm) {
		padding-bottom: rem(40);
	}
	@include breakpoint(md) {
		top: -30px;
	}
	@include breakpoint(lg) {
	}
}

.subtitle {
	font-family: $ff-bd;
	font-size:        rem(20);
	opacity: .6;
}

.uxr-block {
	padding-bottom: rem(30);
	@include breakpoint(sm) {
		padding-bottom: rem(30);
		padding-left: rem(10);
		padding-right: rem(10);
	}
	@include breakpoint(md) {
	}
	@include breakpoint(lg) {
	}
}

.uxr-member {
	position: relative;
	margin-bottom: rem(40);
	.name {
		font-size: rem(26);
		margin-top: rem(20);
	}
	.position {
		font-family: $ff-bd;
		font-size: rem(14);
		margin: rem(5) 0;
		text-transform: uppercase;
		opacity: .8;
	}
	.desc {
		font-size: rem(18);
		line-height: 1.4;
		color: white;
		opacity: .4;
		padding-top: rem(10);
	}
}

.uxr-about-content {
	text-align: center;
	@include breakpoint(md) {
		text-align: left;
	}
}

.uxr-avatar {
	max-width: 150px;
	width: 100%;
	height: auto;
	border-radius: 100%;
	box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}
.uxr-member-image {
	position: relative;
}
.uxr-satelite {
	width: rem(30);
	height: rem(30);
	margin: 0;
	position: absolute;
	border-radius: 100%;
	border: 6px solid #343642;
	left: 60%;
    bottom: -6px;
}

.uxr-illustration {
	max-width: 220px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: rem(20);
}

.uxr-illu-hero {
	position: relative;
	// top: -40px;
	@include breakpoint(md) {
		position: absolute;
		top:0;
		right: 0;
		width: 50%;
	}
}

.uxr-hero {
	background-color: #388898;
	color: white;
	text-align: center;
	padding-bottom: rem(80);
	p{ color: white!important; opacity: 0.8; }
	@include breakpoint(md) {
		text-align: left;
		padding: rem(60) 0 rem(120);
	}
}

.uxr-team {
	// background-color: #1FCE6D;
	background-color: #343642;
	background-image: url(../images/uxr/uxr-sky.svg);
	background-repeat: no-repeat;
	background-position: center center;
	// background-size: cover;
	color: white;
}

.uxr-about {
	background-color: #eee;
	color: inherit;
	text-align: center;
	@include breakpoint(md) {
		text-align: left;
	}
}