[class^="section"] {
	position: relative;
	padding: space(6) 0;
}

.section-small, .section-sm {
	@include breakpoint(md) {
		padding: space(6) 0;
	}
}

.section {
	padding: space(6) 0;
	@include breakpoint(md) {
		padding: space(8) 0;
	}
}

.section-large, .section-lg {
	padding: space(7) 0;
	@include breakpoint(md) {
		padding: space(9) 0;
	}
}

[class^="section"] .title-section {
	text-align: center;
	font-size: rem(22);
	opacity: .4;
	margin-bottom: space(6);
	@include breakpoint(md) {
		top: rem(-10);
		margin-bottom: space(7);
	}
}

.section-first {
	@extend .section;
	padding-top: space(8);
	/*padding-top: rem(85)+space(8);*/
	h1 {
		margin-top: space(6);
		@include breakpoint(md) {
			margin-top: space(8);
		}
	}
}

.section-large-first {
	@extend .section-large;
	padding-top: rem(85)+space(6);
	@include breakpoint(md) {
		padding-top: rem(85)+space(9);
	}
}

.section-project {
	padding: 0 space(4);
}

[class^="section"] [class^="section"] {
	&:first-child { padding-top: 0 !important; };
	&:last-child { padding-bottom: 0 !important; };
}


/*.col-wrap {
	padding: 0;
	@include breakpoint(sm) {
		padding: 0 space(3);
	}
	@include breakpoint(md) {
		padding: 0 space(6);
	}
	@include breakpoint(lg) {
		padding: 0 space(6);
	}
}*/

.bg-mozzayolos {
	background-image: url('/assets/images/illustrations/bg-mozzayolos.png');
	background-repeat: no-repeat;
	background-position: center 100px;
	background-size: 450px auto;
	@include breakpoint(sm) {
		background-size: 800px auto;
		background-position: center 140px;
	}
	@include breakpoint(lg) {
		background-size: auto;
		background-position: center top;
	}
}