.usecase {
	position: relative;
	overflow: hidden;
	.container { position: relative; }
	margin-bottom: rem(100);
	&:last-child{
		margin-bottom: 0;
	}
}

.usecase-content {
	h2 {
		text-align: center;
		@include breakpoint(md) {
			text-align: left;
		}
	}
}

.usecase-example {
	display: block;
	color: inherit;
	text-decoration: none;
	position: relative;
	margin: rem(60) 0 rem(60);
	transition: transform ease .2s;
	&:hover {
		transform: translateY(-5px);
	}
	@include breakpoint(sm) {
		margin: rem(90) 0 rem(60);
	}
}

.usecase-example-logo {
	display: inline-block;
	float: none;
	width: rem(60);
	height: rem(60);
	border-radius: rem(10);
	overflow: hidden;
	background-repeat: none;
	background-size: cover;
	margin-bottom: space(2);
	@include breakpoint(sm) {
		float: left;
		margin-bottom: 0;
	}
}

.usecase-example-text {
	@include breakpoint(sm) {
		margin-left: rem(80);
	}
}

.usecase-img {
	display: none;
	@include breakpoint(md) {
		display: block;
	}
}

.usecase-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ffffff, #F7F9FA);
}

.usecase-bg-right {
	@extend .usecase-bg;
	@include breakpoint(md) {
		transform: skewY(-6deg);
  		transform-origin: top left;
  	}
}

.usecase-bg-left {
	@extend .usecase-bg;
	@include breakpoint(md) {
		transform: skewY(6deg);
		transform-origin: bottom right;
	}
}
