.usecase-item {
	display: block;
	color: inherit;
	text-decoration: none;
	border: none;
	border-bottom-width: 10px;
	color: white;
	padding: 60px 0;
	@include breakpoint(sm) {
		border: 20px solid white;
		padding: 120px 0;
	}
	.usecase-title {
		font-size: 38px;
		margin-bottom: 40px;	
	}
	img {
		margin-bottom: 30px;
		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}
	.usecase-brand {
		font-family: $ff-bold;
		font-size: 19px;
		margin-bottom: 10px;
		span {
			font-family: $ff-book;
			font-size: $fs-xs;
			letter-spacing: 1px;
			text-transform: uppercase;
			opacity: 0.5;
			margin-left: 5px;
		}
	}
	.usecase-testimonial {
		border-top: 1px solid rgba(white,0.4);
		padding-top: 30px;
	}
	.usecase-testimonial-person {
		opacity: 0.6;
	}
}

.usecase-item.mymark { 		background-color: #311116; color: white }
.usecase-item.pixy { 		background-color: #283AD5; color: white }
.usecase-item.holiwin { 	
	background-color: #00A8BB; 
	color: white;
	&:hover {
		background-color: darken(#00A8BB,5); 
	}
}
.usecase-item.heetch { 		
	background-color: #190333;
	color: white;
	&:hover {
		background-color: darken(#190333,5); 
	}
}
.usecase-item.frichti { 	
	background-color: #FCF093; 
	color: color(gray,dark)!important; 
	.usecase-testimonial {
		border-top: 1px solid rgba(black,0.2);
	}
}
.usecase-item.airbnb { 		background-color: #FC5C63; color: white }

// OLD


.usecase {
	position: relative;
	overflow: hidden;
	.container { position: relative; }
	margin-bottom: rem(100);
	&:last-child{
		margin-bottom: 0;
	}
}

.usecase-content {
	h2 {
		text-align: center;
		@include breakpoint(md) {
			text-align: left;
		}
	}
}

.usecase-example {
	display: block;
	color: inherit;
	text-decoration: none;
	position: relative;
	margin: rem(60) 0 rem(60);
	transition: transform ease .2s;
	&:hover {
		transform: translateY(-5px);
	}
	@include breakpoint(sm) {
		margin: rem(90) 0 rem(60);
	}
}

.usecase-example-logo {
	display: inline-block;
	float: none;
	width: rem(60);
	height: rem(60);
	border-radius: rem(10);
	overflow: hidden;
	background-repeat: none;
	background-size: cover;
	margin-bottom: space(2);
	@include breakpoint(sm) {
		float: left;
		margin-bottom: 0;
	}
}

.usecase-example-text {
	@include breakpoint(sm) {
		margin-left: rem(80);
	}
}

.usecase-img {
	display: none;
	@include breakpoint(md) {
		display: block;
	}
}

.usecase-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ffffff, #F7F9FA);
}

.usecase-bg-right {
	@extend .usecase-bg;
	@include breakpoint(md) {
		transform: skewY(-6deg);
  		transform-origin: top left;
  	}
}

.usecase-bg-left {
	@extend .usecase-bg;
	@include breakpoint(md) {
		transform: skewY(6deg);
		transform-origin: bottom right;
	}
}
