body.uxr {
	color: #1c1d1e;
	h1 {
		text-align: center;
		font-size:  rem(40);
		@include breakpoint(md) {
			font-size: rem(54);
		}
	}
	h2{
		font-size: rem(36);
	}
	p {
		color: #424648;
	}
	.p-large {
  		font-size:        rem(20);
  		@include breakpoint(md) {
  			font-size:        rem(22);
  		}
	}
}

.underline {
	text-decoration: underline;
	font-family: $ff-bold;
}

.section-spacing {
	padding-top: 	rem(40);
	padding-bottom: rem(40);
	@include breakpoint(sm) {
		padding-top: 	rem(40);
		padding-bottom: rem(40);
	}
	@include breakpoint(md) {
		padding-top: 	rem(80);
		padding-bottom: rem(80);
	}
	@include breakpoint(lg) {
		padding-top: 	rem(80);
		padding-bottom: rem(80);
	}
}

.section-title {
	position: relative;
	text-align: center;
	padding-bottom: rem(40);
	@include breakpoint(sm) {
		padding-bottom: rem(40);
	}
	@include breakpoint(md) {
		top: -30px;
	}
	@include breakpoint(lg) {
	}
}

.subtitle {
	font-family: $ff-bold;
	font-size:        rem(20);
	opacity: .6;
}

.uxr-block {
	padding-bottom: rem(30);
	@include breakpoint(sm) {
		padding-bottom: rem(30);
		padding-left: rem(10);
		padding-right: rem(10);
	}
	@include breakpoint(md) {
	}
	@include breakpoint(lg) {
	}
}

.uxr-member {
	margin-bottom: rem(40);
	.name {
		font-size: rem(26);
		margin-top: rem(20);
		// text-decoration: underline;
	}
	.position {
		font-family: $ff-bold;
		font-size: rem(14);
		margin: rem(5) 0;
		text-transform: uppercase;
		opacity: .9;
	}
	.desc {
		font-size: rem(18);
		line-height: 1.4;
		color: white;
	}
}

.uxr-member.ulysse {
	@include breakpoint(md) {
		// padding-bottom: rem(60);
	}
}

.uxr-about-content {
	text-align: center;
	@include breakpoint(md) {
		text-align: left;
	}
}

.uxr-avatar {
	max-width: 150px;
	width: 100%;
	height: auto;
	border-radius: 100%;
	box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.2);
}

.uxr-illustration {
	max-width: 240px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: rem(20);
}

.uxr-hero {
	background-color: #095C55;
	color: white;
	text-align: center;
	p{ color: white!important; opacity: 0.8; }
}

.uxr-team {
	background-color: #1FCE6D;
	color: white;
}

.uxr-about {
	background-color: #eee;
	color: white;
	text-align: center;
	@include breakpoint(md) {
		text-align: left;
	}
}