.commitment-item {
	display: block;
	color: inherit;
	position: relative;
	padding: 40px;
	padding-top: 90px;
	background-color: white;
	transition: background-color .2s ease;
	&:hover {
		// background-color: #f4f4f4;
	}
}

.commitment-item-title {
	color: color(gray,dark);
	margin-bottom: 20px;
}

.commitment-item-desc {
	// margin-bottom: 30px;
}

.commitment-item-cta {
}