---
title: Recipes
layout: main
color_menu : white
---

<section class="section-first bg-green">
	<div class="container">
		<div class="row">
			<div class="col-xs col-md-7">
				<h1>Our recipes</h1>
				<p class="p-xl">Sharing is caring. We create content to spread our best practices in terms of product design and growth strategy, especially for mobile apps.</p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<% data.recipes.each do |recipe| %>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<%= partial "partials/recipe", :locals => { :recipe => recipe } %>
				</div>
			<% end %>
		</div>
	</div>
</section>

<!-- CONTACT US -->
<%= partial "partials/contact-us" %>