---
title:
layout: main
color_menu : black
---

<section class="section-first">
	<div class="container">
		<div class="row">
			<svg width="520px" height="198px" viewBox="0 0 520 198" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
    <title>Group 35</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M48.0137776,72 C79.1338682,72 96,58.8821522 96,38.5685796 C96,18.255007 87.4228005,7.71263907 55.0349455,1.10032828 C22.6470904,-5.5119825 2.2242361,19.0305776 0.154891569,38.5685796 C-1.91445296,58.1065816 16.8936871,72 48.0137776,72 Z" id="path-1"></path>
        <filter x="-17.7%" y="-22.2%" width="135.4%" height="147.2%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="5.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.2 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
        <path d="M0.305221435,3.37138105 C0.259152156,3.17586663 0.234774767,2.97204432 0.234774767,2.76263411 C0.234774767,1.30273948 1.41235144,0.119261044 2.87027701,0.119261044 L26.7185773,0.119261044 C28.174125,0.119261044 29.3540795,1.30571007 29.3540795,2.76263411 L29.3898917,2.76263411 C28.9677406,10.1928326 22.6075576,16.0919834 14.8234883,16.0919834 C7.25324068,16.0919834 1.0297279,10.5124705 0.305221435,3.37138105 Z" id="path-3"></path>
        <path d="M48.0137776,72 C79.1338682,72 96,58.7264325 96,38.1717211 C96,17.6170096 87.0498078,3.09377846 55.0349455,0.258690684 C23.0200832,-2.57639709 2.2242361,18.4017869 0.154891569,38.1717211 C-1.91445296,57.9416553 16.8936871,72 48.0137776,72 Z" id="path-5"></path>
        <filter x="-17.7%" y="-22.2%" width="135.4%" height="147.2%" filterUnits="objectBoundingBox" id="filter-6">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="5.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.2 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
        <path d="M0.305221435,3.37138105 C0.259152156,3.17586663 0.234774767,2.97204432 0.234774767,2.76263411 C0.234774767,1.30273948 1.41235144,0.119261044 2.87027701,0.119261044 L26.7185773,0.119261044 C28.174125,0.119261044 29.3540795,1.30571007 29.3540795,2.76263411 L29.3898917,2.76263411 C28.9677406,10.1928326 22.6075576,16.0919834 14.8234883,16.0919834 C7.25324068,16.0919834 1.0297279,10.5124705 0.305221435,3.37138105 Z" id="path-7"></path>
        <path d="M58.3841003,86.562673 C96.225707,86.562673 116.734694,70.6452361 116.734694,45.9963748 C116.734694,21.3475134 97.844711,9.38916238 58.46152,1.36566327 C19.0783289,-6.65783583 2.70464083,22.2886051 0.188346041,45.9963748 C-2.32794875,69.7041445 20.5424936,86.562673 58.3841003,86.562673 Z" id="path-9"></path>
        <filter x="-66.0%" y="-84.3%" width="231.9%" height="277.9%" filterUnits="objectBoundingBox" id="filter-10">
            <feOffset dx="0" dy="4" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="25" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.2 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
        <path d="M0.374425612,4.08106238 C0.317596534,3.84284601 0.287510138,3.59438053 0.287510138,3.33904137 C0.287510138,1.57454836 1.71849568,0.144144155 3.48349032,0.144144155 L32.7516456,0.144144155 C34.5167367,0.144144155 35.9476258,1.57813875 35.9476258,3.33904137 L35.9914822,3.33904137 C35.4745069,12.3195068 27.6856925,19.4494805 18.1531569,19.4494805 C8.88471411,19.4494805 1.26471354,12.7090971 0.374425612,4.08106238 Z" id="path-11"></path>
        <path d="M54.6642197,79.3582696 C89.7248827,79.3582696 111.049737,66.6223306 108.726684,36.6544309 C105.779979,-1.35871054 79.5918367,1.66538429 54.6486975,0.461969018 C29.7055583,-0.741446249 6.46744507,-2.28603955 0.745216088,36.6544309 C-3.70309975,66.9257661 19.6035567,79.3582696 54.6642197,79.3582696 Z" id="path-13"></path>
        <filter x="-58.0%" y="-75.6%" width="215.9%" height="258.8%" filterUnits="objectBoundingBox" id="filter-14">
            <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="20.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.2 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
        <path d="M0.346841871,4.02532519 C0.296005959,3.79993325 0.26917808,3.56557528 0.26917808,3.32509475 C0.26917808,1.56797173 1.69306867,0.143542089 3.45528057,0.143542089 L30.4694512,0.143542089 C32.229087,0.143542089 33.6555537,1.57154713 33.6555537,3.32509475 L33.6966137,3.32509475 C33.2126015,12.2680503 25.9204131,19.3682433 16.9956856,19.3682433 C8.30519231,19.3682433 1.16266892,12.6358561 0.346842414,4.02532945 Z" id="path-15"></path>
    </defs>
    <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-35" transform="translate(0.000000, 24.000000)">
            <path d="M260,174 C393.652909,174 502,156.050571 502,136.108434 C502,116.166296 393.652909,100 260,100 C126.347091,100 18,116.166296 18,136.108434 C18,156.050571 126.347091,174 260,174 Z" id="Oval-Copy-19" fill="#10733D" opacity="0.699999988"></path>
            <path d="M260,152 C398.599139,152 465,126.226702 465,103.853659 C465,81.4806156 373.218374,68 260,68 C146.781626,68 55,81.4806156 55,103.853659 C55,126.226702 121.400861,152 260,152 Z" id="Oval-Copy-18" fill="#CED1A3"></path>
            <ellipse id="Oval" fill="#FFFFD9" cx="260" cy="84" rx="260" ry="44"></ellipse>
            <path d="M37.1584219,94 C30.553712,91.4202498 27,88.6812411 27,85.8430474 C27,70.465757 131.317653,58 260,58 C388.682347,58 493,70.465757 493,85.8430474 C493,88.6812411 489.446288,91.4202498 482.841578,94 C483.14013,93.4948865 483.291667,92.9855069 483.291667,92.4723445 C483.291667,79.2918097 383.320582,68.6068752 260,68.6068752 C136.679418,68.6068752 36.7083333,79.2918097 36.7083333,92.4723445 C36.7083333,92.9855069 36.8598701,93.4948865 37.1584219,94 Z" id="Combined-Shape" fill="#E7EABF"></path>
            <g id="Group-9-Copy-2" transform="translate(76.515034, 60.922802) scale(-1, 1) rotate(-32.000000) translate(-76.515034, -60.922802) translate(54.848367, 46.349197)">
                <path d="M21.9134739,28.7124995 C29.7281153,28.7124995 36.8029452,24.0018396 43.1379637,14.5805198 C36.8029452,5.15919998 29.7281153,0.448540079 21.9134739,0.448540079 C14.0988326,0.448540079 7.02400264,5.15919998 0.68898413,14.5805198 C7.02400264,24.0018396 14.0988326,28.7124995 21.9134739,28.7124995 Z" id="Oval" fill="#518332"></path>
                <path d="M43.0153032,14.3640844 C36.6802847,4.94276456 29.6054548,0.232104658 21.7908134,0.232104658 C13.9761721,0.232104658 6.90134215,4.94276456 0.566323639,14.3640844 L43.0153032,14.3640844 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-9-Copy-5" transform="translate(245.748128, 26.202282) scale(-1, 1) rotate(-60.000000) translate(-245.748128, -26.202282) translate(224.081461, 11.628678)">
                <path d="M21.9134739,28.7124995 C29.7281153,28.7124995 36.8029452,24.0018396 43.1379637,14.5805198 C36.8029452,5.15919998 29.7281153,0.448540079 21.9134739,0.448540079 C14.0988326,0.448540079 7.02400264,5.15919998 0.68898413,14.5805198 C7.02400264,24.0018396 14.0988326,28.7124995 21.9134739,28.7124995 Z" id="Oval" fill="#518332"></path>
                <path d="M43.0153032,14.3640844 C36.6802847,4.94276456 29.6054548,0.232104658 21.7908134,0.232104658 C13.9761721,0.232104658 6.90134215,4.94276456 0.566323639,14.3640844 L43.0153032,14.3640844 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-9-Copy-6" transform="translate(330.136526, 34.603691) scale(-1, 1) rotate(-115.000000) translate(-330.136526, -34.603691) translate(308.469860, 20.030087)">
                <path d="M21.9134739,28.7124995 C29.7281153,28.7124995 36.8029452,24.0018396 43.1379637,14.5805198 C36.8029452,5.15919998 29.7281153,0.448540079 21.9134739,0.448540079 C14.0988326,0.448540079 7.02400264,5.15919998 0.68898413,14.5805198 C7.02400264,24.0018396 14.0988326,28.7124995 21.9134739,28.7124995 Z" id="Oval" fill="#518332"></path>
                <path d="M43.0153032,14.3640844 C36.6802847,4.94276456 29.6054548,0.232104658 21.7908134,0.232104658 C13.9761721,0.232104658 6.90134215,4.94276456 0.566323639,14.3640844 L43.0153032,14.3640844 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-20" transform="translate(77.591837, 19.081218)">
                <g id="Group-2" transform="translate(0.408163, 0.918782)">
                    <g id="Group-34" transform="translate(0.408163, 0.918782)">
                        <g id="Oval-2-Copy">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <path d="M0.114814103,38.974624 C12.5488738,56.158813 33.1727096,67.3971133 56.5117404,67.3971133 C67.1428128,67.3971133 77.2105205,65.0653249 86.1974551,60.9019396 C78.1526431,67.9637209 65.276137,72 48.0137776,72 C17.1097039,72 -1.65275024,58.2987916 0.114814103,38.974624 Z" id="Combined-Shape-Copy" fill="#EDEDED" opacity="0.5"></path>
                    </g>
                    <g id="Group-Copy" transform="translate(52.679126, 34.528218) rotate(-3.000000) translate(-52.679126, -34.528218) translate(32.679126, 21.028218)">
                        <circle class="eye-2" fill="#343434" cx="4" cy="4" r="4"></circle>
                        <circle class="eye-2" fill="#343434" cx="35.6717369" cy="4" r="4"></circle>
                        <g id="Group-4" transform="translate(4.821234, 9.776910)">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <use id="Combined-Shape" fill="#D91E18" xlink:href="#path-3"></use>
                            <path d="M2.48177918,-0.198188211 L27.0317561,-0.198188211 C27.0348246,-0.137179303 27.0363773,-0.0757785695 27.0363773,-0.014023166 C27.0363773,1.9863039 25.4059584,3.60788939 23.4125793,3.60788939 L6.10095163,3.60788939 C4.09958323,3.60788939 2.47715359,1.98223364 2.47715359,-0.014023166 C2.47715359,-0.0757847674 2.47870789,-0.13718531 2.48177918,-0.198188211 Z" id="Combined-Shape" fill="#EDEDED" mask="url(#mask-4)"></path>
                            <path d="M5.54549124,13.342242 C7.934087,11.0321559 11.2372737,9.60281295 14.8864644,9.60281295 C18.535655,9.60281295 21.8388417,11.0321559 24.2274375,13.342242 C21.6178263,15.210999 18.3859477,16.3164751 14.8864644,16.3164751 C11.386981,16.3164751 8.15510237,15.210999 5.54549124,13.342242 Z" id="Combined-Shape" fill="#FF6B69" mask="url(#mask-4)"></path>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Group-20-Copy" transform="translate(241.000000, 14.000000)">
                <g id="Group-2">
                    <g id="Oval-2-Copy">
                        <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                    </g>
                    <path d="M2.24831537,47.2702585 C14.4572585,57.9793376 30.6648904,64.5046574 48.4490522,64.5046574 C66.9706524,64.5046574 83.7822672,57.4269597 96.1477588,45.9166556 C92.8127773,62.469148 76.5888621,72.8154033 49.2770403,72.8154033 C22.8553029,72.8154033 5.39674979,62.5600383 2.24831537,47.2702585 Z" id="Combined-Shape-Copy" fill="#EDEDED" opacity="0.5"></path>
                    <g id="Group-Copy" transform="translate(33.000000, 13.000000)">
                        <circle clas="eye-1" fill="#343434" cx="3.5" cy="3.5" r="3.5"></circle>
                        <circle clas="eye-1" fill="#343434" cx="34.5" cy="3.5" r="3.5"></circle>
                        <g id="Group-4" transform="translate(5.000000, 10.000000)">
                            <mask id="mask-8" fill="white">
                                <use xlink:href="#path-7"></use>
                            </mask>
                            <use id="Combined-Shape" fill="#D91E18" xlink:href="#path-7"></use>
                            <path d="M2.48177918,-0.198188211 L27.0317561,-0.198188211 C27.0348246,-0.137179303 27.0363773,-0.0757785695 27.0363773,-0.014023166 C27.0363773,1.9863039 25.4059584,3.60788939 23.4125793,3.60788939 L6.10095163,3.60788939 C4.09958323,3.60788939 2.47715359,1.98223364 2.47715359,-0.014023166 C2.47715359,-0.0757847674 2.47870789,-0.13718531 2.48177918,-0.198188211 Z" id="Combined-Shape" fill="#EDEDED" mask="url(#mask-8)"></path>
                            <path d="M5.54549124,13.342242 C7.934087,11.0321559 11.2372737,9.60281295 14.8864644,9.60281295 C18.535655,9.60281295 21.8388417,11.0321559 24.2274375,13.342242 C21.6178263,15.210999 18.3859477,16.3164751 14.8864644,16.3164751 C11.386981,16.3164751 8.15510237,15.210999 5.54549124,13.342242 Z" id="Combined-Shape" fill="#FF6B69" mask="url(#mask-8)"></path>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Group-9-Copy-4" transform="translate(145.827291, 86.095902) rotate(2.000000) translate(-145.827291, -86.095902) translate(124.160624, 71.522298)">
                <path d="M21.9134739,28.7124995 C29.7281153,28.7124995 36.8029452,24.0018396 43.1379637,14.5805198 C36.8029452,5.15919998 29.7281153,0.448540079 21.9134739,0.448540079 C14.0988326,0.448540079 7.02400264,5.15919998 0.68898413,14.5805198 C7.02400264,24.0018396 14.0988326,28.7124995 21.9134739,28.7124995 Z" id="Oval" fill="#518332"></path>
                <path d="M43.0153032,14.3640844 C36.6802847,4.94276456 29.6054548,0.232104658 21.7908134,0.232104658 C13.9761721,0.232104658 6.90134215,4.94276456 0.566323639,14.3640844 L43.0153032,14.3640844 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-22" transform="translate(154.000000, 20.000000)">
                <g id="Group-6">
                    <g id="Oval-2">
                        <use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-9"></use>
                    </g>
                    <path d="M5.85903327,67.1997908 C17.7741151,73.3592841 31.4214444,76.8569483 45.9249867,76.8569483 C75.4060735,76.8569483 101.349463,62.4053156 116.397671,40.5219162 C116.622597,42.2740961 116.734694,44.0975815 116.734694,45.9963748 C116.734694,70.6452361 96.225707,86.562673 58.3841003,86.562673 C33.2610853,86.562673 14.7367941,79.1320702 5.85904987,67.1997996 Z" id="Combined-Shape" fill="#EDEDED" opacity="0.5"></path>
                    <g id="Group" transform="translate(42.010041, 37.618390) rotate(12.000000) translate(-42.010041, -37.618390) translate(18.010041, 20.618390)">
                        <circle id="Oval-10" fill="#343434" cx="4.5" cy="4.5" r="4.5"></circle>
                        <circle id="Oval-10" fill="#343434" cx="43.285878" cy="4.5" r="4.5"></circle>
                        <g id="Group-4" transform="translate(5.221718, 13.202858)">
                            <mask id="mask-12" fill="white">
                                <use xlink:href="#path-11"></use>
                            </mask>
                            <use id="Combined-Shape" fill="#D91E18" xlink:href="#path-11"></use>
                            <path d="M3.03910852,-0.239539009 L33.1037417,-0.239539009 C33.1074449,-0.165800953 33.1093187,-0.0915893196 33.1093187,-0.0169490166 C33.1093187,2.40073446 31.1591387,4.36065416 28.7360473,4.36065416 L7.40684602,4.36065416 C4.99155491,4.36065416 3.03357461,2.39581496 3.03357461,-0.0169490166 C3.03357461,-0.0915968107 3.03543374,-0.165808213 3.03910852,-0.239539009 Z" id="Combined-Shape" fill="#EDEDED" mask="url(#mask-12)"></path>
                            <path d="M6.79112571,16.1260219 C9.71625052,13.33395 13.7614028,11.6063831 18.2302787,11.6063831 C22.6991546,11.6063831 26.7443068,13.33395 29.6694316,16.1260219 C26.4736467,18.3846839 22.5158199,19.7208111 18.2302787,19.7208111 C13.9447374,19.7208111 9.98691061,18.3846839 6.79112571,16.1260219 Z" id="Combined-Shape" fill="#FF6B69" mask="url(#mask-12)"></path>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Group-9-Copy" transform="translate(437.956725, 79.365675) rotate(15.000000) translate(-437.956725, -79.365675) translate(417.616589, 65.675320)">
                <path d="M20.6053294,26.9992975 C27.9315556,26.9992975 34.5642087,22.5830538 40.5032885,13.7505665 C34.5642087,4.91807922 27.9315556,0.501835561 20.6053294,0.501835561 C13.2791031,0.501835561 6.64645003,4.91807922 0.70737018,13.7505665 C6.64645003,22.5830538 13.2791031,26.9992975 20.6053294,26.9992975 Z" id="Oval" fill="#518332"></path>
                <path d="M40.4950719,13.5190831 C34.555992,4.68659581 27.9233389,0.270352155 20.5971127,0.270352155 C13.2708864,0.270352155 6.63823333,4.68659581 0.699153485,13.5190831 L40.4950719,13.5190831 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-9-Copy-2" transform="translate(432.721049, 60.751504) rotate(-22.000000) translate(-432.721049, -60.751504) translate(406.190437, 43.086529)">
                <path d="M26.6795494,35.2619149 C36.122241,35.2619149 44.6709938,29.5207982 52.3258079,18.0385647 C44.6709938,6.55633119 36.122241,0.81521444 26.6795494,0.81521444 C17.2368577,0.81521444 8.6881049,6.55633119 1.03329087,18.0385647 C8.6881049,29.5207982 17.2368577,35.2619149 26.6795494,35.2619149 Z" id="Oval" fill="#518332"></path>
                <path d="M52.0275365,17.7355388 C44.3727225,6.54772152 35.8239697,0.95381289 26.381278,0.95381289 C16.9385864,0.95381289 8.38983354,6.54772152 0.735019508,17.7355388 L52.0275365,17.7355388 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-9-Copy" transform="translate(296.973919, 91.509378) rotate(-35.000000) translate(-296.973919, -91.509378) translate(275.307252, 76.935774)">
                <path d="M21.9134739,28.7124995 C29.7281153,28.7124995 36.8029452,24.0018396 43.1379637,14.5805198 C36.8029452,5.15919998 29.7281153,0.448540079 21.9134739,0.448540079 C14.0988326,0.448540079 7.02400264,5.15919998 0.68898413,14.5805198 C7.02400264,24.0018396 14.0988326,28.7124995 21.9134739,28.7124995 Z" id="Oval" fill="#518332"></path>
                <path d="M43.0153032,14.3640844 C36.6802847,4.94276456 29.6054548,0.232104658 21.7908134,0.232104658 C13.9761721,0.232104658 6.90134215,4.94276456 0.566323639,14.3640844 L43.0153032,14.3640844 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-9-Copy-3" transform="translate(122.415661, 91.187710) rotate(39.000000) translate(-122.415661, -91.187710) translate(100.748994, 76.614106)">
                <path d="M21.9134739,28.7124995 C29.7281153,28.7124995 36.8029452,24.0018396 43.1379637,14.5805198 C36.8029452,5.15919998 29.7281153,0.448540079 21.9134739,0.448540079 C14.0988326,0.448540079 7.02400264,5.15919998 0.68898413,14.5805198 C7.02400264,24.0018396 14.0988326,28.7124995 21.9134739,28.7124995 Z" id="Oval" fill="#518332"></path>
                <path d="M43.0153032,14.3640844 C36.6802847,4.94276456 29.6054548,0.232104658 21.7908134,0.232104658 C13.9761721,0.232104658 6.90134215,4.94276456 0.566323639,14.3640844 L43.0153032,14.3640844 Z" id="Oval-Copy-2" fill="#699A2F"></path>
            </g>
            <g id="Group-23" transform="translate(318.000000, 24.000000)">
                <g id="Group-12">
                    <g id="Oval-2">
                        <use fill="black" fill-opacity="1" filter="url(#filter-14)" xlink:href="#path-13"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-13"></use>
                    </g>
                    <path d="M2.30933992,55.9584293 C15.4557891,66.0057509 31.8642347,71.97062 49.66007,71.97062 C73.2458002,71.97062 94.3945032,61.4929958 108.741996,44.9201132 C106.767992,68.9811272 86.31202,79.3582696 54.6642197,79.3582696 C28.2938454,79.3582696 8.57280691,72.3251026 2.3093419,55.9584345 Z" id="Combined-Shape" fill="#EDEDED" opacity="0.5"></path>
                    <g id="Group" transform="translate(46.544381, 39.792942) rotate(-2.000000) translate(-46.544381, -39.792942) translate(23.544381, 23.792942)">
                        <circle class="eye-1" fill="#343434" cx="4.5" cy="4.5" r="4.5"></circle>
                        <circle class="eye-1" fill="#343434" cx="40.5367469" cy="4.5" r="4.5"></circle>
                        <g id="Group-4" transform="translate(6.591872, 11.809431)">
                            <mask id="mask-16" fill="white">
                                <use xlink:href="#path-15"></use>
                            </mask>
                            <use id="Combined-Shape" fill="#D91E18" xlink:href="#path-15"></use>
                            <path d="M2.84570407,-0.238538494 L30.9926498,-0.238538494 C30.9963492,-0.165108431 30.9982211,-0.0912067663 30.9982211,-0.0168782234 C30.9982211,2.39070699 29.0405561,4.34244044 26.6294174,4.34244044 L7.20895317,4.34244044 C4.79612955,4.34244044 2.84014954,2.38580804 2.84014954,-0.0168782234 C2.84014954,-0.0912142261 2.84201581,-0.16511566 2.84570407,-0.238538494 Z" id="Combined-Shape" fill="#EDEDED" mask="url(#mask-16)"></path>
                            <path d="M6.3581138,16.0586662 C9.09672846,13.2782563 12.883956,11.5579051 17.06789,11.5579051 C21.251824,11.5579051 25.0390515,13.2782563 27.7776662,16.0586662 C24.7856491,18.3078942 21.080179,19.6384406 17.06789,19.6384406 C13.055601,19.6384406 9.35013087,18.3078942 6.3581138,16.0586662 Z" id="Combined-Shape" fill="#FF6B69" mask="url(#mask-16)"></path>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Group-9-Copy-2" transform="translate(275.956898, 85.834011) rotate(-72.000000) translate(-275.956898, -85.834011) translate(251.637170, 69.493909)">
                <path d="M24.2035571,32.2104549 C32.9950286,32.2104549 40.9542123,26.9109625 48.0811081,16.3119778 C40.9542123,5.71299298 32.9950286,0.413500599 24.2035571,0.413500599 C15.4120856,0.413500599 7.45290189,5.71299298 0.326006068,16.3119778 C7.45290189,26.9109625 15.4120856,32.2104549 24.2035571,32.2104549 Z" id="Oval" fill="#518332"></path>
                <path d="M48.0811081,16.3119778 C40.9542123,5.71299298 32.9950286,0.413500599 24.2035571,0.413500599 C15.4120856,0.413500599 7.45290189,5.71299298 0.326006068,16.3119778 L48.0811081,16.3119778 Z" id="Oval-Copy" fill="#699A2F"></path>
            </g>
        </g>
    </g>
</svg>
		</div>
		<div class="row">
			<div class="col-xs-12 col-ms-8 col-md-8 col-lg-6">
				<div class="bg-green p5">
					<h1>Create a product people <a href="">love.</a></h1>
					<p class="p-lg">We see ourselves as design cofounders with one mission: help you build the right product in record time.</p>
					<a href="" class="btn-primary-white">Click me</a>
				</div>
				<h2><a href="">Scale.</a> Our remote culture makes it possible to start in a snap and focus on what matters.</h2>
				<p class="p-lg">We support growing startups on ad-hoc design projects and bring a fresh eyes to complex product challenges.</p>
				<a href="" class="btn-primary btn-small">Click me</a>
				<a href="" class="btn-primary-white">Click me</a>
				<a href="" class="btn-primary btn-large">Click me</a>
				<p class="p-lg">There’s no office. Our remote organization makes it possible for our clients to hire within a week some of the best product designers in the world to work together as a team on their project, at a fair cost.</p>
				<h3>Paragraph title</h3>
				<p>A good product strategy can save early-stage startups months if not years. With Mozza, every single minute spent by your developers is well spent. Our motto is “growth by design”. 
				We define a <a href="">product strategy</a> and create interfaces that will delight your very first users thanks to a simple yet exciting experience.</p>
				<p>Through rapid iteration and a lean user-centric methodology, we are able to turn ideas into high-definition prototypes that can be launched quickly.</p>
				<a href="" class="link">Link</a>
				<div>
				<h4>Small title</h4>
				<p>UX & UI Strategy + Design</p>
				</div>
				<p class="p-sm">The look & feel of your product experience.</p>
				<h5 class="">Small title</h5>
				<div><span class="h5 mr2">Arthur</span><span class="h6">Small title</span></div>
			</div>
		</div>
	</div>
</section>
